<!DOCTYPE html>
<html lang="en">
  <header>
    <h2>
      Guia # 2 
    </h2>
  </header>

  <body>
    <p class="Parrafo1">
      Generación de un brand de Estilo Personalizado
    </p>

    <p class="Parrafo2">
      Para generar un brand de estilo personalizado, es importante tener en cuenta las siguientes recomendaciones:
      <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    </p>

    <ul>
      <li><a href="https://www.instagram.com/aleexyr/">Enlace Instagram</a></li>
      <li><a href="https://www.youtube.com/watch?v=TYSM8GAFR5I">Enlace Canción</a></li>
      <li><a href="https://store.steampowered.com/app/271590/Grand_Theft_Auto_V/">Enlace Juego</a></li>
    </ul>

    <table border="1">
      <tr>
        <th>Productos</th>
        <th>Existencias</th>
        <th>Valor</th>
      </tr>
      <tr class="Fila1">
        <td>Iphone</td>
        <td>10</td>
        <td>$2.000.000</td>
      </tr>
      <tr class="Fila2">
        <td>Mouse</td>
        <td>100</td>
        <td>$50.000</td>
      </tr>
      <tr class="Fila1">
        <td>PC Gamer</td>
        <td>2</td>
        <td>$3.000.000</td>
      </tr>
    </table>
    <br>
    <div class="Contenedor">
      <div class="Encabezado">
        <div class="Buscador">Buscador</div>
        <div class="Logo"></div>
      </div>
      <div class="Contendor2">
        <div class="Slide-Bar">
          <ul>
            <li ><div class="Home"></div></li>
            <li ><div class="Productos"></div></li>
            <li ><div class="Contacto"></div></li>
            <li ><div class="Carrito"></div></li>
            <li ><div class="AcercaDe"></div></li>
            <li ><div class="Ayuda"></div></li>
          </ul>
        </div>
        <div class="Contenido"></div>
      </div>
      <div class="Pie">
        <div class="Pie1"></div>
        <div class="Pie2"></div>
        <div class="Pie3"></div>
      </div>
    </div>
  </body>

</html>


<router-outlet />
