<div class="card p-fluid">
    <form [formGroup]="gerenForm">
        <div class="p-field pt-3">
            <label class="gowun-dodum-regular" for="name">Nombre del Gerente</label>
        </div>
        <div class="p-field pt-1">
            <label class="italic-light-gray">Descripción</label>
        </div>
        <div class="pt-1 formgrid grid">
            <div class="field col">
                <p-inputGroup>
                    <p-inputGroupAddon><i class="pi pi-briefcase"></i></p-inputGroupAddon>
                    <input type="name" id="name" pInputText formControlName="name" placeholder="Nombre">
                </p-inputGroup>
                <div *ngIf="gerenForm.controls['email'].invalid && gerenForm.controls['email'].touched" class="error">Nombre No Válido</div>
            </div>
        </div>
        <div class="p-field pt-3">
            <label class="gowun-dodum-regular" for="email">Correo electrónico</label>
        </div>
        <div class="p-field pt-1">
            <label class="italic-light-gray">Descripción</label>
        </div>
        <div class="pt-1 formgrid grid">
            <div class="field col">
                <p-inputGroup>
                    <p-inputGroupAddon><i class="pi pi-envelope"></i></p-inputGroupAddon>
                    <input type="email" id="email" pInputText formControlName="email" placeholder="Correo Eléctronico">
                </p-inputGroup>
                <div *ngIf="gerenForm.controls['email'].invalid && gerenForm.controls['email'].touched" class="error">Correo No Válido</div>
            </div>
        </div>
    </form>
</div>
