USE [dbform]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14/11/2024 3:08:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[lastname] [nvarchar](50) NULL,
	[correo] [nvarchar](50) NULL,
	[telefono] [nvarchar](15) NULL,
	[namegerente] [nvarchar](50) NULL,
	[correogerente] [nvarchar](50) NULL,
	[fechainicio] [date] NULL,
	[fechafin] [date] NULL,
	[notas] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [lastname], [correo], [telefono], [namegerente], [correogerente], [fechainicio], [fechafin], [notas]) VALUES (1, N'Alexancer', N'Yama', N'alexyr24@gmail.com', N'3157768442', N'Diana rosero', N'diana.rosero@gmial.com', CAST(N'2024-11-14' AS Date), CAST(N'2024-11-22' AS Date), N'brti')
INSERT [dbo].[Users] ([id], [username], [lastname], [correo], [telefono], [namegerente], [correogerente], [fechainicio], [fechafin], [notas]) VALUES (2, N'Alexancer', N'Yama', N'alexyr24@gmail.com', N'3157768442', N'Diana rosero', N'diana.rosero@gmial.com', CAST(N'2024-11-14' AS Date), CAST(N'2024-11-22' AS Date), N'ihvide')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
